@*@model IEnumerable<MagazineVer1.Models.ViewModels.ThirdDropDownListTestViewModel>*@
@model IEnumerable<MagazineVer1.Models.View_BeaconDevice_LF_DeviceInfo_LF_Info_LF_InfoGroup>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.i_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_content)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.i_pic1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_pic2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_pic3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_pic4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_pic5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.i_URL)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.i_LINE)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.i_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_content)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.i_pic1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_pic2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_pic3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_pic4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_pic5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.i_URL)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.i_LINE)
        </td>
    </tr>
}

</table>
